fastapi[all]
jinja2
tensorflow
matplotlib
urllib3
opencv-python-headless
transformers
torch
SpeechRecognition
pydub
moviepy
spectralcluster
resemblyzer
pathlib
nltk
openai
numpy
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager