fastapi[all]
jinja2
tensorflow
matplotlib
urllib3
opencv-python-headless
transformers
torch
SpeechRecognition
pydub
google-api-python-client
moviepy
spectralcluster
resemblyzer
pathlib
nltk
openai
numpy
cv
google-cloud-storage
google-cloud-bigquery
google-cloud-secret-manager