<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./static/global1.css" />
    <link rel="stylesheet" href="./static/index1.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <style>
      * {box-sizing: border-box;}
      body {font-family: Verdana, sans-serif;}
      .mySlides {display: none;}
      img {vertical-align: middle;}
      
      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }
      
      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }
      
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 300px) {
        .text {font-size: 11px}
      }
      </style>
        
  </head>
  <body>
    <div class="code">
      <div class="footer">
        <img class="powered-by-icon" alt="" src="/static//powered-by.svg" />

        <img class="busilyze-icon" alt="" src="./static/busilyze.svg" />

        <img class="address-icon" alt="" src="./static/address.svg" />

        <div class="frame-parent">
          <div class="email-parent">
            <div class="email">
              <div class="email1">support@puma.com</div>
            </div>
            <img class="icon" alt="" src="./static/icon.svg" />
          </div>
          <div class="icon-parent">
            <img class="icon" alt="" src="./static/icon1.svg" />

            <div class="phone-number">
              <div class="div">
                <a
                  class="a"
                  href="https://www.google.com/search?client=opera&q=puma+store+in+visakhapatnam+waltair+uphills&sourceid=opera&ie=UTF-8&oe=UTF-8#"
                  target="_blank"
                >
                  <span class="span">0891 663 7995</span> </a
                >6-80
              </div>
            </div>
          </div>
          <div class="social-icons">
            <img class="icon2" alt="" src="./static/icon2.svg" />

            <img class="icon2" alt="" src="./static/icon3.svg" />

            <img class="icon2" alt="" src="./public/icon4.svg" />

            <img class="icon2" alt="" src="./public/icon5.svg" />
          </div>
        </div>
        <img
          class="puma-logo-png-33-1-icon"
          alt=""
          src="./static/pumalogopng33-1@2x.png"
        />
      </div>
      <div class="surya">
        <div class="surya-child"></div>
        <iframe
          class="surya-item"
          src="https://www.youtube.com/embed/UNFVFTqHqtI"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
        <div class="surya-inner"></div>
        <div class="frame-group">
          <div class="vector-parent">
            <img class="vector-icon" alt="" src="./static/vector.svg" />

            <div class="am-container">
              <span>05-06-2023 09:30 am ★ ★ ★ ★ </span>
              <span class="span1">★</span>
            </div>
          </div>
          <div class="vector-group">
            <img class="vector-icon" alt="" src="./static/vector1.svg" />

            <div class="am-container">06-06-2023 10:00 am ★ ★ ★ ★ ★</div>
          </div>
          <div class="vector-container">
            <img class="vector-icon" alt="" src="./static/vector1.svg" />

            <div class="am-container">07-06-2023 09:30 am ★ ★ ★ ★ ★</div>
          </div>
          <div class="frame-div">
            <img class="vector-icon" alt="" src="./static/vector.svg" />

            <div class="am-container">
              <span>08-06-2023 10:30 am ★ ★ </span>
              <span class="span1">★</span>
              <span> </span>
              <span class="span1">★ ★</span>
            </div>
          </div>
          <div class="vector-parent1">
            <img class="vector-icon" alt="" src="./static/vector1.svg" />

            <div class="am-container">09-06-2023 11:30 am ★ ★ ★ ★ ★</div>
          </div>
        </div>
        <div class="name-surya-musunuri-parent">
          <div class="name-surya-container">
            <span>
              <b>Name :</b>
            </span>
            <span class="surya-musunuri">
              <span>
                <span class="span4"> </span>
              </span>
              <b>Surya Musunuri</b>
            </span>
          </div>
          <b class="name-surya-container">
            <span>Hired :</span>
            <span class="surya-musunuri">
              <span class="span5"> </span>
              <span>Jan 2023</span>
            </span>
          </b>
          <b class="name-surya-container">
            <span>
              <span>Average Rating</span>
              <span class="surya-musunuri"> :</span>
            </span>
            <span class="surya-musunuri">
              <span class="span5"> </span>
              <span>4.5 </span>
            </span>
          </b>
          <div class="name-surya-container">
            <b>Average Sale :</b>
            <span class="surya-musunuri">
              <span class="span10"> </span>
              <b>450/-</b>
            </span>
          </div>
        </div>
        <div class="videos">videos</div>
        <div class="am-video">05-06-2023 09:30 am video</div>
        <div class="frame-container">
          <div class="made-sale-in-parent">
            <div class="am-container">Made sale in</div>
            <div class="mins">30 Mins</div>
          </div>
          <div class="performance-parent">
            <div class="am-container">Performance</div>
            <div class="am-container">
              <span>★ ★ ★ ★ </span>
              <span class="span1">★</span>
            </div>
          </div>
          <form action="/upload_video" method="post" enctype="multipart/form-data">
            <input type="file" name="video_file"><br><br>
            <input type="submit" value="Upload">
         </form>
          <!-- <form class="video-form">
            <input type="text" name="video-url" placeholder="Enter video URL" />
            <button type="submit" class="rectangle-parent">
              <div class="group-child"></div>
              <div class="detail-analysis">Submit</div>
            </button>
          </form> -->
          <!-- <button class="rectangle-parent">
            <div class="group-child"></div>
            <div class="detail-analysis">Detail Analysis</div>
          </button> -->
        </div>
      </div>
      <div class="hero">
        <div class="curosel-icon">

          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="/static/pic1.jpg" style="width:100%">
            
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/static/pic2.jpg" style="width:100%">
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/static/pic3.jpg" style="width:100%">
          </div>

          
          </div>
          <br>
          
          <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
          </div>
          
            <meta name="viewport" content="width=device-width, initial-scale=1">

        <div class="employees">Employees</div>
        <div class="surya1">Surya</div>
        <div class="pavan">Pavan</div>
        <div class="murali">Manoj</div>
        <div class="manikanta">Manikanta</div>
        <div class="sandeep">Sandeep</div>
        <img class="mani-icon" alt="" src="./static/mani@2x.png" />
        <img class="surya-icon" alt="" src="./static/surya@2x.png" />
        <img class="manoj-icon" alt="" src="./static/manoj@2x.png" />
        <img class="sandeep-icon" alt="" src="./static/sandeep@2x.png" />

        <img class="pavan-icon" alt="" src="./static/pavan@2x.png" />

        <img class="navbar-icon" alt="" src="./static/navbar.svg" />

        <img
          class="puma-logo-png-33-2-icon"
          alt=""
          src="./static/pumalogopng33-2@2x.png"
        />
      </div>
      
    </div>
  </body>
  <script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 3000); // Change image every 2 seconds
    }
    
    window.addEventListener("DOMContentLoaded", function() {
    const iframe = document.querySelector(".surya-item");
    const videoForm = document.querySelector(".video-form");
    const videoUrlInput = videoForm.querySelector("input[name='video-url']");

    videoForm.addEventListener("submit", function(event) {
      event.preventDefault();
      const videoUrl = iframe.getAttribute("src");
      videoUrlInput.value = videoUrl;
      // Add your logic to process the video URL here
      // For example, you can submit the form to a server or perform any other action
    });
  });
    </script>
</html>
